.main-header {
  display: flex;
  flex-direction: column;
  color:white;
  height: 520px;
  width: 100%;
  background-color: rgb(213, 157, 2);
  justify-content: flex-end;
  align-items: center;
  background-image: url("../images/asfalt-light.png");
}

h2.name {
  font-style: normal;
  font-weight:normal;
  margin-top: 0.2em;
}

