nav {
  display: flex;
  flex-direction: row;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  color: #FFFFFF;
  font-style: normal;
  position: fixed;
}

.logo {
  font-family: 'Bungee', cursive;
  font-weight: 600;
  font-size: 40px;
  margin-top: 1em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.right-side {
  position: absolute;
  right: 1.5em;
  font-size: 24px;
  margin-top: 2em;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.fa-angles-down {
  position: absolute;
  right: 6em;
  margin-top: 3.4em;
  color: red;
}

/* Bounce animation for the arror*/
.bounce {
  animation: updown 1s ease infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-25%);
  }

  50% {
    transform: translateY(25%);
  }

  100% {
    transform: translateY(-25%);
  }
}