.new-tweet {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
}

form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-top: 2vh;
}

textarea {  
  width: 90vw;
  height: 6vh;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  background-color: rgb(244, 241, 236);
  margin-bottom: 1.5vh;
  margin-top: 1.5vh;
  resize: none;
  border-bottom-width: 6px;
  outline: none;
  font-size: 80%;
  color: black;
  font-weight: bold;
}

.form-bottom {
  display: flex;
  font-family: 'Bungee', cursive;
  justify-content: space-between;
}

button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-weight: bold;
}

output {
  display: flex;
  align-items: center;
}